@charset "UTF-8";
 *{
 padding: 0;
 margin: 0;
 text-decoration: none;



}
body{
 font_family:'poppins',sans-serif;
 height: 100vh;
 background-image: url(../images/slide_03.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;

}

.popup_box{
     width: 390px;
     height: 70vh;
     background-image: url(../images/single_service_02.jpg);
     background-size: cover;
     text-align: center;
     align-items: center;
     padding:40px;
     border:1px solid #b3b3b3;
     box-shadow:0px 5px 10px rgba(0,0,0,0.2);
     z-index:9999;
     position: relative;
     top: 0;
     left: 50%;
     transform: translate(-50%, -50%) scale(0.1);
     border-radius: 5px;
     visibility: hidden;
     transition: transform 0.4s, top 0.4s;

}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup{
      background: linear-gradient(75deg,#2980b9,#8e44ad);
      box-shadow:0px 5px 10px rgba(0,0,0,0.2);
      text-align: center;
      border-radius: 5px;
      height: 30vh;
      position: relative;
      top: 40%;

  }

.popup img{
     width: 100px;
     box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
     border-radius: 50%;
     margin-top: -20px;

}
.popup h2{
     font-size: 25px;
     color: #1b2631;
     margin-bottom:  30px 0 10px;

}
.popup label{
     font-size: 20px;
     color: #f8f9fa;

}
.popup_box .btns{
     margin: 40px 0 0 0;
     position: relative;
     top: 37%;
}
#btn1 {


     width: 30%;
     color: black;
     font-size: 18px;
     padding: 5px 9px;
     border: 2px solid ##ffc107;
     border-radius: 5px;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#btn2{

     margin-left: 55px;
     font-size: 18px;
     color: black;
     padding: 5px 9px;
     border: 1px solid #28a745;
     border-radius: 5px;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);


}
#btn1:hover{
     transition: .5s;



}
.#btn2:hover{
     transition: .5s;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}
